:root{
    --color1:rgb(219,144,.5);
    --color2:rgb(255,255,204);
    --color3:rgba(0, 0, 0, .5);
    --fondo: rgb(10, 10, 0);
    --titulos: 33px;
    --espacios: 20px;
    --espacios-contenido:20px;
    --subtitulos:14px
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
 }

 body{
    font-family: 'Gloria Hallelujah', cursive;
    background: var(--color2);
}

nav{
    width: 100%;
    position: fixed;
    height: 80px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    z-index: 100;
    background:var(--fondo);
  }

.contenedor-nav{
    display:flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height:inherit;
    overflow: hidden;  
}

nav .site-nav a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-size: 20px;
    color: var(--color2);
}
nav .site-nav a:hover{
    border-bottom: 4px dotted var(--color1);
    border-top: 4px dotted var(--color2);
    transition: 0.6s; 
    color: var(--color2);
}

.logo, .logo img{
    width: 150px;
    
}
/******/
.contenedores{
    width: 100%;
    height:900px;
    margin-top: 60px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}


.contenedor{
    background: var(--color1); 
    display: inline-block;
    margin: var(--espacios) ;
}
.contenedor p{
    width: 580px;
    padding: var(--espacios-contenido);
}

.contenedor button{
    width: 100%;
    cursor: pointer;
    height: 50px
}

.contenedor .btn{
    background-color: red;
    width: 25px;
    height: 100%

}

.contenedor #contenido{
    display: none;
}

.contenedor #contenido2{
    display: none;
    width: 580px;
}

#contenido2 form{
    display:block;
}

form{
    width: 200px;
    padding: var(--espacios);    
}
input{
    width: 400px;
}


.contenedor #contenido3{
    display: none;
    width: 580px;
}
/******/
.contenedor img{
    width: 580px;
    height: 450px;
}

#contenido{
    display: none;
}

#contenido2{
    display: none;
}

#contenido3{
    display: none;
}
/******/
